@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: black !important;

}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('patrick-fore-0gkw_9fy0eQ-unsplash');
    //Photo by <a href="https://unsplash.com/@patrickian4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Patrick Fore</a> on <a href="https://unsplash.com/s/photos/writing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
